<div class="post-show row">
  <div class="col-md-8">
    <%=image_tag @post.image, class: 'image' %>
  </div>
  <div class="col-md-4">
    <div class="user">
      <div class="avatar">
        <% if @post.user.avatar.attached? %>
          <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.user.avatar %>
          <% end %>
        <% end %>
      </div>
      <%= link_to @post.user.username, user_path(@post.user), class: 'username' %>
    </div>
    <div class="description">
      <%= @post.description %>
    </div>
  </div>
  <% if current_user %>
    <% if current_user.liked?(@post) %>
      <%= button_to "Unlike", unlike_post_path(@post), method: "POST",class:'btn btn-danger text-white mt-5' %>
    <% else %>
      <%= button_to "Like", like_post_path(@post), method: "POST",class:'btn btn-success text-white mt-5' %>
    <% end %>
  <% end %>
  </div>
  <span><%= @post.likes.length %> likes</span>
<div class="delete">
  <% if current_user && current_user.posts.exists?(@post.id) %>
    <%= button_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary text-white' %>
  <% end %>
</div>